$red: #ff0000;
$orange: #ffbb00;
$yellow: #ffe400;
$green: #1ddb16;
$skyblue: #00d8ff;
$blue: #0054ff;
$purple: #5f00ff;

// @mixin 자주 쓰이는 style을 변수로 저장
// 만든 변수를 @include로 사용
@mixin rect($size) {
  width: 32px;
  height: 32px * $size;
}

// 관계 설명 //
// .SassTest {
//   display: flex;
//   margin-bottom: 20px;
// }
// .SassTest .box{}
// .SassTest .box.red{}
// .SassTest .box.orange{}
.SassTest {
  display: flex;
  margin-bottom: 20px;
  .box {
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      background-color: $red;
      @include rect(1);
    }
    &.orange {
      background-color: $orange;
      @include rect(2);
    }
    &.yellow {
      background-color: $yellow;
      @include rect(3);
    }
    &.green {
      background-color: $green;
      @include rect(4);
    }
    &.skyblue {
      background-color: $skyblue;
      @include rect(5);
    }
    &.blue {
      background-color: $blue;
      @include rect(6);
    }
    &.purple {
      background-color: $purple;
      @include rect(7);
    }
    &:hover {
      opacity: 0.3;
    }
  }
}
